modules/connectors/usps_international/schemas/eVSCancelRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="eVSCancelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="BarcodeNumber" />
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID" use="required" />
            <xs:attribute type="xs:string" name="PASSWORD" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>