modules/connectors/usps_international/schemas/SDCGetLocationsRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SDCGetLocationsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="MailClass"/>
                <xs:element type="xs:int" name="OriginZIP"/>
                <xs:element type="xs:int" name="DestinationZIP"/>
                <xs:element type="xs:string" name="AcceptDate"/>
                <xs:element type="xs:short" name="AcceptTime"/>
                <xs:element type="xs:string" name="NonExpeditedDetail"/>
                <xs:element type="xs:byte" name="ClientType"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID" use="required"/>
            <xs:attribute type="xs:string" name="PASSWORD" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>