modules/connectors/usps_wt_international/schemas/eVSExpressMailIntlResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eVSExpressMailIntlResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:float" name="Postage"/>
                <xs:element type="xs:float" name="TotalValue"/>
                <xs:element type="xs:float" name="SDRValue"/>
                <xs:element type="xs:string" name="BarcodeNumber"/>
                <xs:element type="xs:string" name="LabelImage"/>
                <xs:element type="xs:string" name="Page2Image"/>
                <xs:element type="xs:string" name="Page3Image"/>
                <xs:element type="xs:string" name="Page4Image"/>
                <xs:element type="xs:string" name="Page5Image"/>
                <xs:element type="xs:string" name="Page6Image"/>
                <xs:element type="xs:string" name="Prohibitions"/>
                <xs:element type="xs:string" name="Restrictions"/>
                <xs:element type="xs:string" name="Observations"/>
                <xs:element type="xs:string" name="Regulations"/>
                <xs:element type="xs:string" name="AdditionalRestrictions"/>
                <xs:element type="xs:float" name="InsuranceFee"/>
                <xs:element type="xs:string" name="GuaranteeAvailability"/>
                <xs:element type="xs:string" name="RemainingBarcodes"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>