modules/connectors/usps_wt_international/schemas/PTSPODResult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PTSPODRESULT">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="ResultText"/>
                <xs:element type="xs:byte" name="ReturnCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>