modules/connectors/usps_wt_international/schemas/SCANResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SCANResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SCANFormNumber">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="ShipDate"/>
                                <xs:attribute type="xs:short" name="EntryZipCode"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SCANFormImage">
                    <xs:annotation>
                        <xs:documentation>65255 skipped</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="ShipDate"/>
                                <xs:attribute type="xs:short" name="EntryZipCode"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>