modules/connectors/usps_wt_international/schemas/ZipCodeLookupRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ZipCodeLookupRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Address1"/>
                            <xs:element type="xs:string" name="Address2"/>
                            <xs:element type="xs:string" name="FirmName"/>
                            <xs:element type="xs:string" name="City"/>
                            <xs:element type="xs:string" name="State"/>
                            <xs:element type="xs:short" name="Zip5"/>
                            <xs:element type="xs:string" name="Zip4"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="ID"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID" use="required"/>
            <xs:attribute type="xs:string" name="PASSWORD" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>