yunexpress/schemas/tracking.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="ResultCode"/>
        <xs:element type="xs:string" name="ResultDesc"/>
        <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OrderInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="msg"/>
                    <xs:element type="xs:string" name="OrderNumber"/>
                    <xs:element type="xs:long" name="TrackingNumber"/>
                    <xs:element type="xs:string" name="WayBillNumber"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>