modules/connectors/bpost/schemas/business_exception.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns2="http://schema.post.be/api/shm/v1/" attributeFormDefault="unqualified"
    elementFormDefault="qualified" targetNamespace="http://schema.post.be/api/shm/v1/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="businessException">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:unsignedShort" />
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>