modules/connectors/bpost/schemas/common_v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://schema.post.be/shm/deepintegration/v5/common"
    targetNamespace="http://schema.post.be/shm/deepintegration/v5/common"
    xmlns:tns="http://schema.post.be/shm/deepintegration/v5/common">


    <xs:simpleType name="AccountIdType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{6}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CostCenterType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WeightInGrams">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HeightInMm">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LegthInMm">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WidthInMm">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HeightInCm">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5" />
            <xs:fractionDigits value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LengthInCm">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5" />
            <xs:fractionDigits value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WidthInCm">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5" />
            <xs:fractionDigits value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EuroCentAmount">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IbanType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BicType">
        <xs:restriction base="xs:string">
            <xs:pattern value="([A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmailAddressType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:pattern
                value="[&#45;&#33;&#35;&#36;&#37;&#38;&#39;&#42;&#43;&#47;0-9&#61;&#63;A-Z&#94;&#95;a-z&#123;&#124;&#125;&#126;](\.?[&#45;&#33;&#35;&#36;&#37;&#38;&#39;&#42;&#43;&#47;0-9&#61;&#63;A-Z&#94;&#95;a-z&#96;&#123;&#124;&#125;&#126;])*@[a-zA-Z0-9](&#45;*\.?[a-zA-Z0-9])*\.[a-zA-Z](&#45;?[a-zA-Z0-9])+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmailAddressCharacteristicType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)+" />
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumberType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="20" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReceiverNameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReceiverCompany">
        <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StreetNameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StreetNumberType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StreetBoxType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PostalCodeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="8" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LocalityType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="40" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RcCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z_]{1,20}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BpackMemberId">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Party">
        <xs:sequence>
            <xs:element name="name" type="tns:ReceiverNameType" />
            <xs:element name="company" minOccurs="0" type="tns:ReceiverCompany" />
            <xs:element name="address" type="tns:AddressType" />
            <xs:element name="emailAddress" minOccurs="0" type="tns:EmailAddressType" />
            <xs:element name="phoneNumber" minOccurs="0" type="tns:PhoneNumberType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="streetName" type="tns:StreetNameType" />
            <xs:element name="addressLineTwo" minOccurs="0" type="tns:StreetNameType" />
            <xs:element name="number" minOccurs="0" type="tns:StreetNumberType" />
            <xs:element name="box" minOccurs="0" type="tns:StreetBoxType" />
            <xs:element name="postalCode" type="tns:PostalCodeType" />
            <xs:element name="locality" type="tns:LocalityType" />
            <xs:element name="countryCode" type="tns:CountryCode" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BoxStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PENDING" />
            <xs:enumeration value="OPEN" />
            <xs:enumeration value="CANCELLED" />
            <xs:enumeration value="ON-HOLD" />
            <xs:enumeration value="PRINTED" />
            <xs:enumeration value="ANNOUNCED" />
            <xs:enumeration value="IN_TRANSIT" />
            <xs:enumeration value="AWAITING_PICKUP" />
            <xs:enumeration value="DELIVERED" />
            <xs:enumeration value="BACK_TO_SENDER" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SetBoxStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN" />
            <xs:enumeration value="CANCELLED" />
            <xs:enumeration value="ON-HOLD" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Options -->
    <xs:complexType name="OptionsType">
        <xs:all>
            <xs:element name="infoDistributed" type="NotificationType" minOccurs="0" />
            <xs:element name="infoNextDay" type="NotificationType" minOccurs="0" />
            <xs:element name="infoReminder" type="NotificationType" minOccurs="0" />
            <xs:element name="keepMeInformed" type="NotificationType" minOccurs="0" />
            <xs:element name="automaticSecondPresentation" minOccurs="0">
                <xs:complexType />
            </xs:element>
            <xs:element name="fragile" type="FragileType" minOccurs="0" />
            <xs:element name="insured" type="InsuranceType" minOccurs="0" />
            <xs:element name="signed" type="SignatureType" minOccurs="0" />
            <xs:element name="timeSlotDelivery" type="TimeSlotDeliveryType" minOccurs="0" />
            <xs:element name="saturdayDelivery" type="SaturdayDeliveryType" minOccurs="0" />
            <xs:element name="sundayDelivery" type="SundayDeliveryType" minOccurs="0" />
            <xs:element name="sameDayDelivery" type="NotificationType" minOccurs="0" />
            <xs:element name="cod" type="CodType" minOccurs="0" />
            <xs:element name="preferredDeliveryWindow" type="PreferredDeliveryWindowType"
                minOccurs="0" />
            <xs:element name="fullService" type="FullServiceType" minOccurs="0" />
            <xs:element name="doorStepPlusService" type="DoorStepPlusServiceType" minOccurs="0" />
            <xs:element name="ultraLateInEveningDelivery" type="UltraLateInEveningDelivery"
                minOccurs="0" />


        </xs:all>
    </xs:complexType>

    <xs:complexType name="InsuranceType">
        <xs:choice>
            <xs:element name="basicInsurance">
                <xs:complexType />
            </xs:element>
            <xs:element name="additionalInsurance" type="AdditionalInsuranceType" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalInsuranceType">
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="NotificationType">
        <xs:choice>
            <xs:element name="emailAddress" type="tns:EmailAddressType" />
            <xs:element name="mobilePhone" type="tns:PhoneNumberType" />
        </xs:choice>
        <xs:attribute name="language" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="EN" />
                    <xs:enumeration value="NL" />
                    <xs:enumeration value="FR" />
                    <xs:enumeration value="DE" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TimeSlotDeliveryType">
        <xs:complexContent>
            <xs:extension base="NotificationType">
                <xs:attribute name="value">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="AM" />
                            <xs:enumeration value="PM" />
                            <xs:enumeration value="PMPLUS" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CodType">
        <xs:sequence>
            <xs:element name="codAmount" type="tns:EuroCentAmount" />
            <xs:element name="iban" type="tns:IbanType" />
            <xs:element name="bic" type="tns:BicType" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreferredDeliveryWindowType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[Aa][Mm]" />
            <xs:pattern value="[Pp][Mm]" />
            <xs:pattern value="[Pp][Mm][Pp][Ll][Uu][Ss]" />
            <xs:pattern value="[Oo][Ff][Ff][Ii][Cc][Ee]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignatureType" />
    <xs:complexType name="SaturdayDeliveryType" />
    <xs:complexType name="SundayDeliveryType" />
    <xs:complexType name="FragileType" />
    <xs:complexType name="FullServiceType" />
    <xs:complexType name="DoorStepPlusServiceType" />
    <xs:complexType name="UltraLateInEveningDelivery" />
</xs:schema>