usps/schemas/PTSPODRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PTSPodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="TrackId" minOccurs="1"/>
                <xs:element type="xs:string" name="ClientIp" minOccurs="0"/>
                <xs:element type="xs:int" name="MpSuffix" minOccurs="1"/>
                <xs:element type="xs:string" name="MpDate" minOccurs="1"/>
                <xs:element type="xs:string" name="RequestType" minOccurs="1"/>
                <xs:element type="xs:string" name="FirstName" minOccurs="1"/>
                <xs:element type="xs:string" name="LastName" minOccurs="1"/>
                <xs:element type="xs:string" name="Email1" minOccurs="0"/>
                <xs:element type="xs:string" name="Email2" minOccurs="0"/>
                <xs:element type="xs:string" name="Email3" minOccurs="0"/>
                <xs:element type="xs:string" name="FaxNumber" minOccurs="0"/>
                <xs:element type="xs:string" name="AddressLine1" minOccurs="0"/>
                <xs:element type="xs:string" name="AddressLine2" minOccurs="0"/>
                <xs:element type="xs:string" name="City" minOccurs="0"/>
                <xs:element type="xs:string" name="State" minOccurs="0"/>
                <xs:element type="xs:string" name="Zip" minOccurs="0"/>
                <xs:element type="xs:boolean" name="VerifyAddress" minOccurs="0"/>
                <xs:element type="xs:string" name="TableCode" minOccurs="1"/>
                <xs:element type="xs:int" name="CustRegID" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID"/>
        </xs:complexType>
    </xs:element>
</xs:schema>