usps/schemas/StandardBResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="StandardBResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="OriginZip"/>
                <xs:element type="xs:short" name="DestinationZip"/>
                <xs:element type="xs:byte" name="Days"/>
                <xs:element type="xs:string" name="Message"/>
                <xs:element type="xs:string" name="EffectiveAcceptanceDate"/>
                <xs:element type="xs:string" name="ScheduledDeliveryDate"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>