sf_express/schemas/route_request.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Head"/>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RouteRequest" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="tracking_type" use="optional"/>
                      <xs:attribute type="xs:byte" name="method_type" use="optional"/>
                      <xs:attribute type="xs:long" name="tracking_number" use="optional"/>
                      <xs:attribute type="xs:short" name="check_phoneNo" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="service"/>
      <xs:attribute type="xs:string" name="lang"/>
    </xs:complexType>
  </xs:element>
</xs:schema>