py-usps/schemas/eVSGXGGetLabelCertifyRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eVSGXGGetLabelCertifyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Option"/>
                <xs:element type="xs:byte" name="Revision"/>
                <xs:element type="xs:string" name="ImageParameters"/>
                <xs:element type="xs:string" name="FromFirstName"/>
                <xs:element type="xs:string" name="FromMiddleInitial"/>
                <xs:element type="xs:string" name="FromLastName"/>
                <xs:element type="xs:string" name="FromFirm"/>
                <xs:element type="xs:string" name="FromAddress1"/>
                <xs:element type="xs:string" name="FromAddress2"/>
                <xs:element type="xs:string" name="FromUrbanization"/>
                <xs:element type="xs:string" name="FromCity"/>
                <xs:element type="xs:string" name="FromState"/>
                <xs:element type="xs:int" name="FromZIP5"/>
                <xs:element type="xs:short" name="FromZIP4"/>
                <xs:element type="xs:long" name="FromPhone"/>
                <xs:element type="xs:int" name="ShipFromZIP"/>
                <xs:element type="xs:string" name="ToFirstName"/>
                <xs:element type="xs:string" name="ToLastName"/>
                <xs:element type="xs:string" name="ToFirm"/>
                <xs:element type="xs:string" name="ToAddress1"/>
                <xs:element type="xs:string" name="ToAddress2"/>
                <xs:element type="xs:string" name="ToAddress3"/>
                <xs:element type="xs:int" name="ToDPID"/>
                <xs:element type="xs:string" name="ToProvince"/>
                <xs:element type="xs:string" name="ToTaxID"/>
                <xs:element type="xs:string" name="Container"/>
                <xs:element type="xs:string" name="ContentType"/>
                <xs:element name="ShippingContents">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ItemDetail">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Description"/>
                                        <xs:element type="xs:string" name="Commodity"/>
                                        <xs:element type="xs:byte" name="Quantity"/>
                                        <xs:element type="xs:float" name="UnitValue"/>
                                        <xs:element type="xs:int" name="HSTariffNumber"/>
                                        <xs:element type="xs:string" name="CountryofManufacture"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="Agreement"/>
                <xs:element type="xs:string" name="InsuredValue"/>
                <xs:element type="xs:byte" name="GrossPounds"/>
                <xs:element type="xs:byte" name="GrossOunces"/>
                <xs:element type="xs:float" name="Length"/>
                <xs:element type="xs:float" name="Width"/>
                <xs:element type="xs:float" name="Height"/>
                <xs:element type="xs:float" name="Girth"/>
                <xs:element type="xs:string" name="Shape"/>
                <xs:element type="xs:string" name="CIRequired"/>
                <xs:element type="xs:string" name="InvoiceDate"/>
                <xs:element type="xs:string" name="InvoiceNumber"/>
                <xs:element type="xs:string" name="CustOrderNumber"/>
                <xs:element type="xs:string" name="TermsDelivery"/>
                <xs:element type="xs:string" name="PackingCost"/>
                <xs:element type="xs:string" name="CountryUltDest"/>
                <xs:element type="xs:string" name="CIAgreement"/>
                <xs:element type="xs:string" name="ImageType"/>
                <xs:element type="xs:string" name="ImageLayout"/>
                <xs:element type="xs:string" name="ShipDate"/>
                <xs:element type="xs:string" name="HoldForManifest"/>
                <xs:element type="xs:string" name="PriceOptions"/>
                <xs:element type="xs:string" name="DestinationRateIndicator"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID"/>
            <xs:attribute type="xs:string" name="PASSWORD"/>
        </xs:complexType>
    </xs:element>
</xs:schema>