py-usps/schemas/eVSPriorityMailIntlCertifyRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eVSPriorityMailIntlCertifyRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Option"/>
                <xs:element type="xs:byte" name="Revision"/>
                <xs:element type="xs:string" name="ImageParameters"/>
                <xs:element type="xs:string" name="FromFirstName"/>
                <xs:element type="xs:string" name="FromMiddleInitial"/>
                <xs:element type="xs:string" name="FromLastName"/>
                <xs:element type="xs:string" name="FromFirm"/>
                <xs:element type="xs:string" name="FromAddress1"/>
                <xs:element type="xs:string" name="FromAddress2"/>
                <xs:element type="xs:string" name="FromCity"/>
                <xs:element type="xs:string" name="FromState"/>
                <xs:element type="xs:short" name="FromZip5"/>
                <xs:element type="xs:short" name="FromZip4"/>
                <xs:element type="xs:long" name="FromPhone"/>
                <xs:element type="xs:string" name="ToName"/>
                <xs:element type="xs:string" name="ToFirstName"/>
                <xs:element type="xs:string" name="ToLastName"/>
                <xs:element type="xs:string" name="ToFirm"/>
                <xs:element type="xs:string" name="ToAddress1"/>
                <xs:element type="xs:string" name="ToAddress2"/>
                <xs:element type="xs:string" name="ToAddress3"/>
                <xs:element type="xs:string" name="ToCity"/>
                <xs:element type="xs:string" name="ToProvince"/>
                <xs:element type="xs:string" name="ToCountry"/>
                <xs:element type="xs:short" name="ToPostalCode"/>
                <xs:element type="xs:string" name="ToPOBoxFlag"/>
                <xs:element type="xs:long" name="ToPhone"/>
                <xs:element type="xs:long" name="ToFax"/>
                <xs:element type="xs:string" name="ToEmail"/>
                <xs:element type="xs:string" name="NonDeliveryOption"/>
                <xs:element type="xs:string" name="Container"/>
                <xs:element name="ShippingContents">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ItemDetail" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Description"/>
                                        <xs:element type="xs:byte" name="Quantity"/>
                                        <xs:element type="xs:float" name="Value"/>
                                        <xs:element type="xs:byte" name="NetPounds"/>
                                        <xs:element type="xs:byte" name="NetOunces"/>
                                        <xs:element type="xs:int" name="HSTariffNumber"/>
                                        <xs:element type="xs:string" name="CountryOfOrigin"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="Insured"/>
                <xs:element type="xs:string" name="InsuredNumber"/>
                <xs:element type="xs:string" name="InsuredAmount"/>
                <xs:element type="xs:byte" name="GrossPounds"/>
                <xs:element type="xs:byte" name="GrossOunces"/>
                <xs:element type="xs:string" name="ContentType"/>
                <xs:element type="xs:string" name="Agreement"/>
                <xs:element type="xs:string" name="Comments"/>
                <xs:element type="xs:string" name="ImageType"/>
                <xs:element type="xs:short" name="POZipCode"/>
                <xs:element type="xs:string" name="LabelDate"/>
                <xs:element type="xs:string" name="HoldForManifest"/>
                <xs:element name="ExtraServices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="ExtraService"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="DestinationRateIndicator"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID"/>
            <xs:attribute type="xs:string" name="PASSWORD"/>
        </xs:complexType>
    </xs:element>
</xs:schema>