schemas/ics_courier/schemas/services.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.icscourier.ca/" elementFormDefault="qualified" targetNamespace="http://www.icscourier.ca/">
    <xs:element name="ValidateUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="Account" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="PWD" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ValidateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ValidateUserResult" type="tns:ErrorClass" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ErrorClass">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="_ErrCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="_ErrDescription" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValidateShipToInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ShipToAddress" type="tns:AddressInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="AddressInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Postcode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValidateShipToInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="ValidateShipToInfoResult" type="tns:ErrorClass" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateShipment">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Authenticate">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AccountID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackageInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="tns:ArrayOfPieceInfo" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Refereces" type="tns:ArrayOfString" />
            <xs:element minOccurs="0" maxOccurs="1" name="NotificationEmail" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstruction" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="NoSignatureRequired" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipDate" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfPieceInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PieceInfo" nillable="true" type="tns:PieceInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PieceInfo">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="WeightUnit" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="xs:double" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateShipmentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateShipmentResult" type="tns:ResponseCreateShipment" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseCreateShipment">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageIDAndLink" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageID" type="tns:ArrayOfString" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateShipmentWithLabelInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateShipmentWithLabelInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateShipmentWithLabelInfoResult" type="tns:ResponseLabelInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseLabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="LabelInfo" type="tns:ArrayOfLabelInfo" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageIDAndLink" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="BaseCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="InsuranceCharges" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="SurCharges" type="tns:ArrayOfSurCharge" />
            <xs:element minOccurs="1" maxOccurs="1" name="FuelCharges" type="xs:double" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfLabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="LabelInfo" nillable="true" type="tns:LabelInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AirportCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AirportPhone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="TapConsignee" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ToInfo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ToPostcode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="RouteBranch" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DriverNotes" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Insurance" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ProcessDate" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PIn" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Route" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Branch" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfSurCharge">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="SurCharge" nillable="true" type="tns:SurCharge" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SurCharge">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="SurChargeName" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SurChargeAmount" type="xs:double" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateShipmentWithShipperDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="ShipperInfo" type="tns:AddressInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateShipmentWithShipperDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateShipmentWithShipperDetailResult" type="tns:ResponseLabelInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCloseManifestPDF">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="ManifestNumber" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCloseManifestPDFResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCloseManifestPDFResult" type="tns:ResponseCloseManifestPDF" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseCloseManifestPDF">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestLink" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetEstimatedCharges">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="PkgInfo" type="tns:PackgeInfoToGetCharges" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PackgeInfoToGetCharges">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="tns:ArrayOfPieceInfo" />
            <xs:element minOccurs="0" maxOccurs="1" name="FromPost" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ToPost" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetEstimatedChargesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetEstimatedChargesResult" type="tns:ResponseGetCharges" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseGetCharges">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="1" maxOccurs="1" name="BaseCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="InsuranceCharges" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="SurCharges" type="tns:ArrayOfSurCharge" />
            <xs:element minOccurs="1" maxOccurs="1" name="FuelCharges" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Zone" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="VoidPackages">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="Packages" type="tns:ArrayOfString" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="VoidPackagesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="VoidPackagesResult" type="tns:ResponseVoidPackage" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseVoidPackage">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageVoidStatus" type="tns:ArrayOfPackageVoidStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfPackageVoidStatus">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageVoidStatus" nillable="true" type="tns:PackageVoidStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackageVoidStatus">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="HeaderPin" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="VoidStatus" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="Packages" type="tns:ArrayOfString" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="IsProductAvailable">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="product" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromPostCode" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="ToPostCode" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsProductAvailableResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="IsProductAvailableResult" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsPostcodeinIcsAOS">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="PostCode" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsPostcodeinIcsAOSResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="IsPostcodeinIcsAOSResult" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOpenManifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOpenManifestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetOpenManifestResult" type="tns:ResponseOpenManifest" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseOpenManifest">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="OpenManifestInformation" type="tns:ArrayOfOpenManifestInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfOpenManifestInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="OpenManifestInfo" nillable="true" type="tns:OpenManifestInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpenManifestInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Void" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AccountNo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Company" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Address2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Province" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PostCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Manifest" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PIN" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="LabelCreatedDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="ActualWeight" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="CubeWeight" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="User" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ICS_BranchDestn" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SurCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="InsuranceCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="BaseCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="FromPost" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="comments" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="NSR" type="xs:short" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetOpenManifestWithShipperDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetOpenManifestWithShipperDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetOpenManifestWithShipperDetailResult" type="tns:ResponseOpenManifestWithShipperInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseOpenManifestWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="OpenManifestWithshipperInformation" type="tns:ArrayOfOpenManifestWithShipperInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfOpenManifestWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="OpenManifestWithShipperInfo" nillable="true" type="tns:OpenManifestWithShipperInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OpenManifestWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Void" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AccountNo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperCompany" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperAddress1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperAddress2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperCity" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperProvince" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperPostCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperContact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperPhone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeCompany" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeCity" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeProvince" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneePostCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Manifest" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PIN" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="LabelCreatedDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="ActualWeight" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="CubeWeight" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="User" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ICS_BranchDestn" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SurCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="InsuranceCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="BaseCharges" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="comments" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="NSR" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" name="HeaderPin" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TracePackge">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TrackNums" type="tns:ArrayOfString" />
                <xs:element minOccurs="1" maxOccurs="1" name="DetailInfo" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TracePackgeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TracePackgeResult" type="tns:ResponseTrackingInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseTrackingInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="TrackingInfo" type="tns:ArrayOfTrackingInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfTrackingInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingInfo" nillable="true" type="tns:TrackingInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackingInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TrackingNum" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="StatusDate" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Signby" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TracePackgeWithEnFRStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TrackNums" type="tns:ArrayOfString" />
                <xs:element minOccurs="1" maxOccurs="1" name="DetailInfo" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TracePackgeWithEnFRStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TracePackgeWithEnFRStatusResult" type="tns:ResponseTrackingInfoWithFrench" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseTrackingInfoWithFrench">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="TrackingInfoWithFrench" type="tns:ArrayOfTrackingInfoWithFrench" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfTrackingInfoWithFrench">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingInfoWithFrench" nillable="true" type="tns:TrackingInfoWithFrench" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TrackingInfoWithFrench">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TrackingNum" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="StatusDate" type="xs:dateTime" />
            <xs:element minOccurs="0" maxOccurs="1" name="Status" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Signby" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="StatusFrench" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetTransitDays">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="FromPostalCode" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="ToPostalCode" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetTransitDaysResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetTransitDaysResult" type="tns:ResponseTransitDays" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseTransitDays">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="TransitDays" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UploadManifestTextFile">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="f" type="xs:base64Binary" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UploadManifestTextFileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="UploadManifestTextFileResult" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateReturnLabels">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfoReturn" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PackageInfoReturn">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="TotalPieces" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Referece" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="length" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="width" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="WeightUnit" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateReturnLabelsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateReturnLabelsResult" type="tns:ResponseCreateReturnShipment" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseCreateReturnShipment">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageIDAndLink" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageID" type="tns:ArrayOfString" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreatePickupRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="ToInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PickupPkgInfo" type="tns:PickupRequestPackageInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="PickupRequestPackageInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperContact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ReceiverContact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="SpecialInstruction" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PickupDate" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Refereces" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Pieces" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="Weight" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="WeightUnit" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="DeclaredValue" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="PrintLabel" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreatePickupRequestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreatePickupRequestResult" type="tns:ResponsePickUpRequest" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponsePickUpRequest">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="PickupNumber" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateReturnShipmentWithLabelInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfoReturn" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateReturnShipmentWithLabelInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateReturnShipmentWithLabelInfoResult" type="tns:ResponseReturnLabelInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseReturnLabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="ReturnLabelInfo" type="tns:ArrayOfReturnLabelInfo" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageIDAndLink" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfReturnLabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ReturnLabelInfo" nillable="true" type="tns:ReturnLabelInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnLabelInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AirportCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="AirportPhone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ToInfo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ToPostcode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PIn" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Pieces" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Branch" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CreateReturnShipmentWithConsigneeDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromInfo" type="tns:AddressInfo" />
                <xs:element minOccurs="0" maxOccurs="1" name="PackageInfo" type="tns:PackageInfoReturn" />
                <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeInfo" type="tns:AddressInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CreateReturnShipmentWithConsigneeDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateReturnShipmentWithConsigneeDetailResult" type="tns:ResponseReturnLabelInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetClosedManifestsDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromDate" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="Todate" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetClosedManifestsDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetClosedManifestsDetailResult" type="tns:ResponseCloseManifestDetail" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseCloseManifestDetail">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="CloseManifestDetailInfo" type="tns:ArrayOfCloseManifestDetail" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfCloseManifestDetail">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CloseManifestDetail" nillable="true" type="tns:CloseManifestDetail" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CloseManifestDetail">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Account" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeCity" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeProvince" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneePostalCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="References" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ActualWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DimensionWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="BilledWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DeclaredValue" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="InsuranceCost" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Length" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Width" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Height" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Charges" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Surcharges" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsolidationCharges" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestCloseDate" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetClosedManifestsDetailWithShipperDetail">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AuthenicateAccount" type="tns:Authenticate" />
                <xs:element minOccurs="0" maxOccurs="1" name="FromDate" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="Todate" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetClosedManifestsDetailWithShipperDetailResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetClosedManifestsDetailWithShipperDetailResult" type="tns:ResponseCloseManifestDetailWithShipperInfo" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ResponseCloseManifestDetailWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="err" type="tns:ErrorClass" />
            <xs:element minOccurs="0" maxOccurs="1" name="CloseManifestDetailWithShipperInfo" type="tns:ArrayOfCloseManifestDetailWithShipperInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfCloseManifestDetailWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="CloseManifestDetailWithShipperInfo" nillable="true" type="tns:CloseManifestDetailWithShipperInfo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CloseManifestDetailWithShipperInfo">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Account" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperAddress1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperAddress2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperCity" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperProvince" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperPostalCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperContact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ShipperPhone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeAddress2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeCity" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneeProvince" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsigneePostalCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CostCenter" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="References" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ActualWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DimensionWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="BilledWeight" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Product" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="DeclaredValue" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="InsuranceCost" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Length" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Width" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Height" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="Charges" type="xs:double" />
            <xs:element minOccurs="0" maxOccurs="1" name="Surcharges" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ConsolidationCharges" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ManifestCloseDate" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>