schemas/ups/schemas/AccessRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" elementFormDefault="unqualified">
	<xsd:element name="AccessRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AccessLicenseNumber" type="xsd:string"/>
				<xsd:element name="UserId" type="xsd:string"/>
				<xsd:element name="Password" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
