schemas/ups/schemas/AVRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" elementFormDefault="unqualified" version="201601">	<xsd:element name="AddressValidationRequest">		<xsd:complexType>			<xsd:sequence>				<xsd:element name="Request" type="RequestType"/>				<xsd:element name="Address" type="AddressType"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:complexType name="AddressType">		<xsd:sequence>			<xsd:element name="City" type="xsd:string" minOccurs="0"/>			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="RequestType">		<xsd:sequence>			<xsd:sequence>				<xsd:element name="TransactionReference" type="TransactionReferenceType" minOccurs="0"/>				<xsd:element name="RequestAction" type="xsd:string"/>			</xsd:sequence>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="TransactionReferenceType">		<xsd:sequence>			<xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>