schemas/ups/schemas/QuantumViewRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" version="201901">  <xsd:element name="QuantumViewRequest">    <xsd:complexType>      <xsd:sequence>        <xsd:element ref="Request"/>        <xsd:element maxOccurs="unbounded" minOccurs="0" name="SubscriptionRequest" type="SubscriptionRequestType"/>        <xsd:element minOccurs="0" name="Bookmark" type="xsd:string"/>      </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:complexType name="RequestSourceType">    <xsd:sequence>      <xsd:element name="Code" type="xsd:string"/>      <xsd:element minOccurs="0" name="Description" type="xsd:string"/>      <xsd:element name="Version" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="SubscriptionRequestType">    <xsd:sequence>      <xsd:element minOccurs="0" name="DateTimeRange" type="DateTimeRangeType"/>      <xsd:element minOccurs="0" name="Name" type="xsd:string"/>      <xsd:element maxOccurs="unbounded" minOccurs="0" name="FileName" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType>  <xsd:complexType name="DateTimeRangeType">    <xsd:sequence>      <xsd:element name="BeginDateTime" type="xsd:string"/>      <xsd:element minOccurs="0" name="EndDateTime" type="xsd:string"/>    </xsd:sequence>  </xsd:complexType>  <xsd:element name="Request">    <xsd:complexType>      <xsd:sequence>      <xsd:element name="RequestAction" type="xsd:string"/>              </xsd:sequence>    </xsd:complexType>  </xsd:element>  <xsd:element name="IntegrationIndicator">    <xsd:complexType/>  </xsd:element></xsd:schema>