modules/connections/usps_international/schemas/eVSICancelRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eVSICancelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="BarcodeNumber"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID"/>
        </xs:complexType>
    </xs:element>
</xs:schema>