modules/connections/usps_international/schemas/ZipCodeLookupResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ZipCodeLookupResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Address" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Address1" minOccurs="0"/>
                            <xs:element type="xs:string" name="Address2"/>
                            <xs:element type="xs:string" name="City"/>
                            <xs:element type="xs:string" name="FirmName" minOccurs="0"/>
                            <xs:element type="xs:string" name="State"/>
                            <xs:element type="xs:string" name="Urbanization" minOccurs="0"/>
                            <xs:element type="xs:int" name="Zip5"/>
                            <xs:element type="xs:short" name="Zip4"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="ID" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>