schemas/dhl_germany/schemas/tracking-response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="data">
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="event-timestamp" type="xs:string" use="required" />
                        <xs:attribute name="event-status" type="xs:string" use="required" />
                        <xs:attribute name="event-text" type="xs:string" use="required" />
                        <xs:attribute name="ice" type="xs:string" use="required" />
                        <xs:attribute name="ric" type="xs:string" use="required" />
                        <xs:attribute name="event-location" type="xs:string" use="required" />
                        <xs:attribute name="event-country" type="xs:string" use="required" />
                        <xs:attribute name="standard-event-code" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="request-id" type="xs:string" use="required" />
            <xs:attribute name="code" type="xs:unsignedByte" use="required" />
            <xs:attribute name="piece-identifier" type="xs:unsignedInt" use="required" />
            <xs:attribute name="_build-time" type="xs:string" use="required" />
            <xs:attribute name="piece-id" type="xs:string" use="required" />
            <xs:attribute name="leitcode" type="xs:unsignedLong" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
