modules/connectors/landmark/schemas/cancel_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Test" type="xs:boolean" minOccurs="0"/>
        <xs:element name="Result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Success" type="xs:boolean"/>
              <xs:element name="ResultMessage" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
