modules/connectors/landmark/schemas/import_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="ImportResponse">
        <xs:complexType>
            <xs:sequence>

                <!-- Optional Errors block -->
                <xs:element name="Errors" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Error" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ErrorCode" type="xs:string" />
                                        <xs:element name="ErrorMessage" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Optional Test flag -->
                <xs:element name="Test" type="xs:boolean" minOccurs="0" />

                <!-- Result -->
                <xs:element name="Result">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Success" type="xs:boolean" />
                            <xs:element name="ResultMessage" type="xs:string" />

                            <!-- Packages block -->
                            <xs:element name="Packages" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Package" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>

                                                    <!-- Optional multiple label links -->
                                                    <xs:element name="LabelLink" type="xs:string"
                                                        minOccurs="0" maxOccurs="unbounded" />

                                                    <!-- Optional base64 or compressed label images -->
                                                    <xs:element name="LabelImages" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="LabelImage"
                                                                    type="xs:string"
                                                                    maxOccurs="unbounded" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>

                                                    <!-- Identifiers -->
                                                    <xs:element name="TrackingNumber"
                                                        type="xs:string" />
                                                    <xs:element name="LandmarkTrackingNumber"
                                                        type="xs:string" />
                                                    <xs:element name="PackageReference"
                                                        type="xs:string" minOccurs="0" />

                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
