sdk/extensions/tnt/schemas/rating_response.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="rating_common_definitions.xsd" />
    <xs:element name="document">
        <xs:annotation>
            <xs:documentation>The root element for a response from the ExpressConnect Pricing
                Service</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" minOccurs="0" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The requestId is a unique identifier for your price
                            request which should be provided to the agent when contacting the
                            service centre with any queries you have about the ExpressConnect
                            pricing service. It will allow quick recovery of the request and
                            response XML and enable a more timely response to any enquiry. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="errors" type="errors" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This provides a breakdown of any errors or warning
                            generated by the request. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="priceResponse" type="priceResponse" maxOccurs="unbounded"
                    minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This element provides the pricing information that is
                            returned per priceCheck request. There may be up to a maximum of 10
                            priceResponse </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="priceResponse">
        <xs:sequence>
            <xs:element name="ratedServices" type="ratedServices">
                <xs:annotation>
                    <xs:documentation>This is made up of one or more ratedService which contain a
                        price for a particular service option combination from the original request. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ratedServices">
        <xs:sequence>
            <xs:element name="rateId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The rateId is used to associate the priceResponse with the
                        corresponding priceCheck. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="currency" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The currency element describes the currency that the price is
                        displayed. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ratedService" type="ratedService" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A container element for the price details for a particular
                        service. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ratedService">
        <xs:sequence>
            <xs:element name="product" minOccurs="0" type="product">
                <xs:annotation>
                    <xs:documentation>This is a container element for Information relating to the
                        TNT product chosen for this priceCheck.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="totalPrice" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The totalPrice element contains the total estimated price for
                        the service including VAT. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="totalPriceExclVat" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The totalPriceExclVat element contains the total estimated
                        price for the service excluding VAT. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatAmount" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The vatAmount element contains the estimated amount of VAT for
                        the service requested. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeElements" type="chargeElements">
                <xs:annotation>
                    <xs:documentation>The chargeElements element contains an optional breakdown of
                        any charges which are included within the price such as VAT and fuel
                        supplements. See the chargeElements section for more information. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chargeElements">
        <xs:sequence>
            <xs:element name="chargeElement" type="chargeElement" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Each chargeElement contains a specific item of price breakdown
                        information that relates to the total price returned. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chargeElement">
        <xs:sequence>
            <xs:element name="chargeItem" type="xs:int">
                <xs:annotation>
                    <xs:documentation>The chargeItem is an identifier for the chargeElement within
                        the list of chargeElements returned. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeCategory" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The chargeCategory is a descriptor of the type of charge
                        element being returned. This will either be SURCHARGE or VAT. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The chargeCode is a unique identifier for the charge being
                        applied. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The description provides a more detailed explanation of the
                        charge being applied e.g. Fuel Surcharge. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chargeValue" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The chargeValue is the cost of the charge in the currency. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vatIndicator" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>The vatIndicator defines whether the VAT is applied to the
                        charge. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errors">
        <xs:sequence>
            <xs:element name="runtimeError" type="runtimeError" maxOccurs="unbounded" />
            <xs:element name="parseError" type="parseError" maxOccurs="unbounded" />
            <xs:element name="brokenRule" type="brokenRule" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="runtimeError">
        <xs:annotation>
            <xs:documentation>The runtime error messages returned by ExpressConnect e.g pricing
                service not available </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errorReason" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This element contains a description indicating that the
                        pricing request has failed and what action the customer should take. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorSrcText" type="xs:string">
                <xs:annotation>
                    <xs:documentation> This element might contain some additional information
                        regarding the source of the error. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="parseError">
        <xs:annotation>
            <xs:documentation>The XML parse error messages returned by ExpressConnect e.g. Element
                content is invalid according to the XSD/Schema.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errorReason" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This element contains a description indicating that the
                        pricing request has failed and what action the customer should take. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorLine" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This element indicates the line number where the error
                        occurred in the request XML. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorLinepos" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This element indicates the position on the line where the
                        error occurred in the request XML </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="errorSrcText" type="xs:string">
                <xs:annotation>
                    <xs:documentation> This element might contain some additional information
                        regarding the source of the error. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="brokenRule">
        <xs:annotation>
            <xs:documentation>The brokenRule section is for application errors which the customer
                can resolve such as invalid postcode, login credentials. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="rateId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The rateId is used to associate the error with the
                        corresponding priceCheck. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="xs:string">
                <xs:annotation>
                    <xs:documentation> This can be used to determine the severity of the error
                        returned. The three categories are <xs:list>
                            <xs:annotation> ‘I’ – Information </xs:annotation>
                            <xs:annotation> ‘W’ – Warning </xs:annotation>
                            <xs:annotation> ‘E’ - Error </xs:annotation>
                        </xs:list>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="code" type="xs:string" />
            <xs:element name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
