modules/connectors/dpd_france/schemas/error_response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.cargonet.software/Error"
    targetNamespace="http://www.cargonet.software/Error">
    <xs:element name="Error" type="tns:Error" />
    <xs:complexType name="Error">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ErrorId" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="ErrorMessage" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
