schemas/oca/schemas/services.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="#Oca_Express_Pak"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="#Oca_Express_Pak">
    <xs:element name="List_Envios">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CUIT" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="FechaDesde" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="FechaHasta" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="List_EnviosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="List_EnviosResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tracking_Pieza">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="NroDocumentoCliente" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="CUIT" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Pieza" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tracking_PiezaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="Tracking_PiezaResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tracking_OrdenRetiro">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CUIT" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="OrdenRetiro" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tracking_OrdenRetiroResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="Tracking_OrdenRetiroResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tarifar_Envio_Corporativo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="PesoTotal" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="VolumenTotal" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="CodigoPostalOrigen" type="xs:int"/>
                <xs:element minOccurs="1" maxOccurs="1" name="CodigoPostalDestino" type="xs:int"/>
                <xs:element minOccurs="1" maxOccurs="1" name="CantidadPaquetes" type="xs:long"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Cuit" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="Operativa" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Tarifar_Envio_CorporativoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="Tarifar_Envio_CorporativoResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AnularOrdenGenerada">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usuario" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="nroOrden" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AnularOrdenGeneradaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="AnularOrdenGeneradaResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerarConsolidacionDeOrdenesDeRetiro">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usr" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="psw" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="ordenesDeRetiro" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerarConsolidacionDeOrdenesDeRetiroResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GenerarConsolidacionDeOrdenesDeRetiroResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetEnviosUltimoEstado">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="cuit" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="operativas" type="tns:ArrayOfString"/>
                <xs:element minOccurs="1" maxOccurs="1" name="fechaDesde" type="xs:dateTime"/>
                <xs:element minOccurs="1" maxOccurs="1" name="fechaHasta" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetEnviosUltimoEstadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetEnviosUltimoEstadoResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateQrByOrdenDeRetiro">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usr" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="psw" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="idOrdenDeRetiro" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateQrByOrdenDeRetiroResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GenerateQrByOrdenDeRetiroResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateQRParaPaquetes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usr" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="psw" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="numeroDeEnvio" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="idpaquete" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateQRParaPaquetesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GenerateQRParaPaquetesResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateListQrPorEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usr" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="psw" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="numeroDeEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GenerateListQrPorEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GenerateListQrPorEnvioResult" type="tns:ArrayOfString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IngresoOR">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="usr" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="psw" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="XML_Retiro" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="ConfirmarRetiro" type="xs:boolean"/>
                <xs:element minOccurs="1" maxOccurs="1" name="DiasRetiro" type="xs:int"/>
                <xs:element minOccurs="1" maxOccurs="1" name="FranjaHoraria" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IngresoORResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="IngresoORResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentroCostoPorOperativa">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CUIT" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="Operativa" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentroCostoPorOperativaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCentroCostoPorOperativaResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicion">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetCentrosImposicionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCentrosImposicionResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetELockerOCA">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetELockerOCAResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetELockerOCAResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicionAdmision">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetCentrosImposicionAdmisionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCentrosImposicionAdmisionResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetServiciosDeCentrosImposicion">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetServiciosDeCentrosImposicionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetServiciosDeCentrosImposicionResult">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrackingEnvio_EstadoActual">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="numeroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TrackingEnvio_EstadoActualResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TrackingEnvio_EstadoActualResult">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetProvincias">
        <xs:complexType/>
    </xs:element>
    <xs:element name="GetProvinciasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetProvinciasResult">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetLocalidadesByProvincia">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idProvincia" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetLocalidadesByProvinciaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetLocalidadesByProvinciaResult">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetServiciosDeCentrosImposicion_xProvincia">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="provinciaID" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="localidad" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetServiciosDeCentrosImposicion_xProvinciaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetServiciosDeCentrosImposicion_xProvinciaResult">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicionPorCP">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicionPorCPResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCentrosImposicionPorCPResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicionAdmisionPorCP">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CodigoPostal" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCentrosImposicionAdmisionPorCPResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCentrosImposicionAdmisionPorCPResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="xs:schema"/>
                            <xs:any/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="idOrdenRetiro" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="idsOrdenRetiro" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetHtmlDeEtiquetasPorOrdenesResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDivDeEtiquetasPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="idOrdenRetiro" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDivDeEtiquetasPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetDivDeEtiquetasPorOrdenOrNumeroEnvioResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDivDeEtiquetaByIdPieza">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idPieza" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDivDeEtiquetaByIdPiezaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetDivDeEtiquetaByIdPiezaResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCSSDeEtiquetasPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="paraEtiquetadora" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetCSSDeEtiquetasPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetCSSDeEtiquetasPorOrdenOrNumeroEnvioResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioParaEtiquetadora">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioParaEtiquetadoraResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetHtmlDeEtiquetasPorOrdenOrNumeroEnvioParaEtiquetadoraResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvioResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvioParaEtiquetadora">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvioParaEtiquetadoraResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetHtmlDeEtiquetasLockersPorOrdenOrNumeroEnvioParaEtiquetadoraResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="logisticaInversa" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvioResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvioAdidas">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="logisticaInversa" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvioAdidasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetPdfDeEtiquetasPorOrdenOrNumeroEnvioAdidasResult" type="tns:EtiquetasPDFResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="EtiquetasPDFResponse">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="trackingNumber" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="pdf" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDatosDeEtiquetasPorOrdenOrNumeroEnvio">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="idOrdenRetiro" type="xs:int"/>
                <xs:element minOccurs="0" maxOccurs="1" name="nroEnvio" type="xs:string"/>
                <xs:element minOccurs="1" maxOccurs="1" name="isLocker" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDatosDeEtiquetasPorOrdenOrNumeroEnvioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="GetDatosDeEtiquetasPorOrdenOrNumeroEnvioResult" type="tns:ArrayOfEtiqueta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="ArrayOfEtiqueta">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Etiqueta" nillable="true" type="tns:Etiqueta"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Etiqueta">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="NroOrden" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="NroGuia" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="DocCliente" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Servicio" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Bulto" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Operativa" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="PesoTotal" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="SucursalDestino" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="SucursalOrigen" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="SucursalGuarda" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Entrega" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Destinatario" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Domicilio" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Telefono" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Remitente" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Observaciones" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="CodigoApertura" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="QR" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="CodeBar" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataSet" nillable="true">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="xs:schema"/>
                <xs:any/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="string" nillable="true" type="xs:string"/>
    <xs:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
    <xs:element name="EtiquetasPDFResponse" nillable="true" type="tns:EtiquetasPDFResponse"/>
    <xs:element name="ArrayOfEtiqueta" nillable="true" type="tns:ArrayOfEtiqueta"/>
</xs:schema>