modules/connections/tnt/schemas/shipping_request.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="shipping_common_definitions.xsd" />
    <xs:element name="ESHIPPER">
        <xs:annotation>
            <xs:documentation>Generated by XML Authority</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LOGIN" />
                <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element ref="CONSIGNMENTBATCH" />
                </xs:sequence>
                <xs:element ref="ACTIVITY" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LOGIN">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPANY" />
                <xs:element ref="PASSWORD" />
                <xs:element ref="APPID" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="APPVERSION" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COMPANY" type="xs:string" />
    <xs:element name="PASSWORD" type="xs:string" />
    <xs:element name="APPID" type="xs:string" />
    <xs:element name="APPVERSION" type="xs:decimal" />
    <xs:element name="CONSIGNMENTBATCH">
        <xs:annotation>
            <xs:documentation>SR 7855 CONSIGNMEN is now optional, as the input document may be used
                purely to print a summary manifest or book a whole group </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="GROUPCODE" />
                </xs:sequence>
                <xs:element ref="SENDER" />
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONSIGNMENT" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SENDER">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPANYNAME" />
                <xs:element ref="STREETADDRESS1" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS2" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS3" />
                </xs:sequence>
                <xs:element ref="CITY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="PROVINCE" />
                </xs:sequence>
                <xs:element ref="POSTCODE" />
                <xs:element ref="COUNTRY" />
                <xs:element ref="ACCOUNT" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="VAT" />
                </xs:sequence>
                <xs:element ref="CONTACTNAME" />
                <xs:element ref="CONTACTDIALCODE" />
                <xs:element ref="CONTACTTELEPHONE" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONTACTEMAIL" />
                </xs:sequence>
                <xs:element ref="COLLECTION" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COMPANYNAME" type="xs:string" />
    <xs:element name="STREETADDRESS1" type="xs:string" />
    <xs:element name="STREETADDRESS2" type="xs:string" />
    <xs:element name="STREETADDRESS3" type="xs:string" />
    <xs:element name="CITY" type="xs:string" />
    <xs:element name="PROVINCE" type="xs:string" />
    <xs:element name="POSTCODE" type="xs:string" />
    <xs:element name="COUNTRY" type="xs:string" />
    <xs:element name="ACCOUNT" type="xs:string" />
    <xs:element name="VAT" type="xs:string" />
    <xs:element name="CONTACTNAME" type="xs:string" />
    <xs:element name="CONTACTDIALCODE" type="xs:string" />
    <xs:element name="CONTACTTELEPHONE" type="xs:string" />
    <xs:element name="CONTACTEMAIL" type="xs:string" />
    <xs:element name="COLLECTION">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="COLLECTIONADDRESS" />
                </xs:sequence>
                <xs:element ref="SHIPDATE" />
                <xs:element ref="PREFCOLLECTTIME" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="ALTCOLLECTTIME" />
                </xs:sequence>
                <xs:element ref="COLLINSTRUCTIONS" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONFIRMATIONEMAILADDRESS" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COLLECTIONADDRESS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPANYNAME" />
                <xs:element ref="STREETADDRESS1" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS2" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS3" />
                </xs:sequence>
                <xs:element ref="CITY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="PROVINCE" />
                </xs:sequence>
                <xs:element ref="POSTCODE" />
                <xs:element ref="COUNTRY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="VAT" />
                </xs:sequence>
                <xs:element ref="CONTACTNAME" />
                <xs:element ref="CONTACTDIALCODE" />
                <xs:element ref="CONTACTTELEPHONE" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONTACTEMAIL" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SHIPDATE" type="xs:string" />
    <xs:element name="PREFCOLLECTTIME">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FROM" />
                <xs:element ref="TO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FROM" type="xs:string" />
    <xs:element name="TO" type="xs:string" />
    <xs:element name="ALTCOLLECTTIME">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FROM" />
                <xs:element ref="TO" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COLLINSTRUCTIONS" type="xs:string" />
    <xs:element name="CONFIRMATIONEMAILADDRESS" type="xs:string" />
    <xs:element name="CONSIGNMENT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CONREF" />
                <xs:choice>
                    <xs:element ref="DETAILS" />
                    <xs:element ref="CONNUMBER" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DETAILS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RECEIVER" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="DELIVERY" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
                <xs:element ref="CUSTOMERREF" />
                <xs:element ref="CONTYPE" />
                <xs:element ref="PAYMENTIND" />
                <xs:element ref="ITEMS" />
                <xs:element ref="TOTALWEIGHT" />
                <xs:element ref="TOTALVOLUME" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CURRENCY" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="GOODSVALUE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="INSURANCEVALUE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="INSURANCECURRENCY" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="DIVISION" />
                </xs:sequence>
                <xs:element ref="SERVICE" />
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="OPTION" />
                </xs:sequence>
                <xs:element ref="DESCRIPTION" />
                <xs:element ref="DELIVERYINST" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CUSTOMCONTROLIN" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="HAZARDOUS" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="UNNUMBER" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="PACKINGGROUP" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="PACKAGE" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RECEIVER">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPANYNAME" />
                <xs:element ref="STREETADDRESS1" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS2" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS3" />
                </xs:sequence>
                <xs:element ref="CITY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="PROVINCE" />
                </xs:sequence>
                <xs:element ref="POSTCODE" />
                <xs:element ref="COUNTRY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="VAT" />
                </xs:sequence>
                <xs:element ref="CONTACTNAME" />
                <xs:element ref="CONTACTDIALCODE" />
                <xs:element ref="CONTACTTELEPHONE" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONTACTEMAIL" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="ACCOUNT" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="ACCOUNTCOUNTRY" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ACCOUNTCOUNTRY" type="xs:string" />
    <xs:element name="DELIVERY">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPANYNAME" />
                <xs:element ref="STREETADDRESS1" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS2" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="STREETADDRESS3" />
                </xs:sequence>
                <xs:element ref="CITY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="PROVINCE" />
                </xs:sequence>
                <xs:element ref="POSTCODE" />
                <xs:element ref="COUNTRY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="VAT" />
                </xs:sequence>
                <xs:element ref="CONTACTNAME" />
                <xs:element ref="CONTACTDIALCODE" />
                <xs:element ref="CONTACTTELEPHONE" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONTACTEMAIL" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CUSTOMERREF" type="xs:string" />
    <xs:element name="DIVISION" type="xs:string" />
    <xs:element name="CONTYPE" type="xs:string" />
    <xs:element name="PAYMENTIND" type="xs:string" />
    <xs:element name="ITEMS" type="xs:integer" />
    <xs:element name="TOTALWEIGHT" type="xs:decimal" />
    <xs:element name="TOTALVOLUME" type="xs:decimal" />
    <xs:element name="GOODSVALUE" type="xs:decimal" />
    <xs:element name="INSURANCEVALUE" type="xs:decimal" />
    <xs:element name="INSURANCECURRENCY" type="xs:string" />
    <xs:element name="DESCRIPTION" type="xs:string" />
    <xs:element name="DELIVERYINST" type="xs:string" />
    <xs:element name="CUSTOMCONTROLIN" type="xs:string" />
    <xs:element name="HAZARDOUS" type="xs:string" />
    <xs:element name="UNNUMBER" type="xs:string" />
    <xs:element name="PACKINGGROUP" type="xs:string" />
    <xs:element name="PACKAGE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ITEMS" />
                <xs:element ref="DESCRIPTION" />
                <xs:element ref="LENGTH" />
                <xs:element ref="HEIGHT" />
                <xs:element ref="WIDTH" />
                <xs:element ref="WEIGHT" />
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="ARTICLE" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LENGTH" type="xs:decimal" />
    <xs:element name="HEIGHT" type="xs:decimal" />
    <xs:element name="WIDTH" type="xs:decimal" />
    <xs:element name="WEIGHT" type="xs:decimal" />
    <xs:element name="ARTICLE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ITEMS" />
                <xs:element ref="DESCRIPTION" />
                <xs:element ref="WEIGHT" />
                <xs:element ref="INVOICEVALUE" />
                <xs:element ref="INVOICEDESC" />
                <xs:element ref="HTS" />
                <xs:element ref="COUNTRY" />
                <xs:sequence minOccurs="0">
                    <xs:element ref="EMRN" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="INVOICEVALUE" type="xs:decimal" />
    <xs:element name="INVOICEDESC" type="xs:string" />
    <xs:element name="HTS" type="xs:string" />
    <xs:element name="EMRN" type="xs:string" />
    <xs:element name="ACTIVITY">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="CREATE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="RATE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="BOOK" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="SHIP" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="PRINT" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="SHOW_GROUPCODE" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CREATE">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element ref="CONREF" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RATE">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONREF" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BOOK">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="GROUPCODE" />
                <xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONREF" />
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONNUMBER" />
                    </xs:sequence>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="EMAILREQD" type="xs:string" />
            <xs:attribute name="ShowBookingRef" type="xs:string" />
            <xs:attribute name="FaxNumber" type="xs:string" />
            <xs:attribute name="LanguageId" type="xs:string" />
            <xs:attribute name="PrintAtDepot" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="SHIP">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="GROUPCODE" />
                <xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONREF" />
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONNUMBER" />
                    </xs:sequence>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="PRINT">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="REQUIRED" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="CONNOTE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="LABEL" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="MANIFEST" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="INVOICE" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="EMAILTO" />
                </xs:sequence>
                <xs:sequence minOccurs="0">
                    <xs:element ref="EMAILFROM" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SHOW_GROUPCODE">
        <xs:complexType />
    </xs:element>
    <xs:element name="REQUIRED">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONREF" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CONNOTE">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONREF" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LABEL">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONREF" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MANIFEST">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="GROUPCODE" />
                <xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONREF" />
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="CONNUMBER" />
                    </xs:sequence>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="INVOICE">
        <xs:complexType>
            <xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONREF" />
                </xs:sequence>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="CONNUMBER" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EMAILTO">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="type" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EMAILFROM" type="xs:string" />
</xs:schema>
