modules/connectors/tnt/schemas/label_response.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="label_common_definitions.xsd"/>
	<xsd:element name="labelResponse">
		<xsd:annotation>
			<xsd:documentation>The root XML tag for the data returned from ExpressLabel
				for the production of routing labels</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="5" name="consignment" type="consignmentResponseType"/>
				<xsd:element ref="brokenRules" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="fault" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="consignmentResponseType">
		<xsd:annotation>
			<xsd:documentation>There is one of these sections per unique consignment
				within the labels being printed.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		    <xsd:element name="pieceLabelData" type="pieceRoutingLabelType" minOccurs="1" maxOccurs="99">
		        <xsd:annotation>
		            <xsd:documentation>
		                There will be one of these XML fragments per
							piece that is to be labelled.
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		    <xsd:element name="consignmentLabelData" type="consignmentRoutingLabelType" minOccurs="1" maxOccurs="1">
		        <xsd:annotation>
		            <xsd:documentation>
		                There will be one of these sections per
							consignment, related to 1 or more piece
							label data sections as appropriate. This XML
							fragment stores all of the common
							consignment information for the pieces being
							labelled.
		            </xsd:documentation>
		        </xsd:annotation>
		    </xsd:element>
		</xsd:sequence>
		<xsd:attribute name="key" use="required" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="pieceRoutingLabelType">
		<xsd:annotation>
			<xsd:documentation>Contains information specific to the piece being that a
				routing label is being created for.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pieceNumber" type="xsd:int" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The sequence number for the piece (x), i.e. x of
						y.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="weightDisplay" type="renderInstructionsType" minOccurs="1" />
			<xsd:element name="pieceReference" type="xsd:string" minOccurs="1" />
			<xsd:element name="barcode" type="barcodeType" minOccurs="1" />
			<xsd:element name="barcodeForCustomer" type="barcodeType" minOccurs="0" />
			<xsd:element name="twoDBarcode" type="twoDBarcodeType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="destinationDepotType">
		<xsd:annotation>
			<xsd:documentation>Details relevant to the destination TNT depot.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="depotCode" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The three character TNT code for the depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dueDayOfMonth" type="xsd:int" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The day of the month (denoted as a number 1 - 31) that
                        the consignment is expected to reach the destination depot
                        in readiness for conveyance to the delivery address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dueDate" type="xsd:date" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date that the consignment is expected to reach the
                        destination depot in readiness for conveyance to the
                        delivery address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="consignmentRoutingLabelType">
		<xsd:annotation>
			<xsd:documentation>There will be one of these sections per
                 consignment, related to 1 or more piece
                 label data sections as appropriate. This XML
                 fragment stores all of the common
                 consignment information for the pieces being
                 labelled.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="consignmentNumber" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This element contains the consignment number which will
                       identify the consignment from the request XML.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sender" type="nameAndAddressResponseType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The origin is the address from which the consignment is
                        physically collected.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="delivery" type="nameAndAddressResponseType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The destination is the address to which the consignment is
                        physically delivered.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="contact" type="contactType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>This is the contact information for this delivery consignment.
                        This information only appears on some labels but is present in the xml response.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="account" type="accountType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The TNT account paying for this consignment to be transported.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="totalNumberOfPieces" type="xsd:int" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The total number of pieces this consignment contains. This
                        is used to print the sequence numbers on the labels,
                        e.g. 1 of x, where x is the value provided here.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="product" type="productDescriptionType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Information relating to the TNT product chosen for this
                        consignment. Example products are next day, before 10, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="option" type="optionDescriptionType" maxOccurs="5" minOccurs="0"/>
			<xsd:element name="collectionDate" type="xsd:date" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date that the consignment will be collected, to be
                        supplied as DDMMYYYY e.g 10072008. [???]</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="marketDisplay" type="renderInstructionsType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This identifies the market type for the consignment comprising the origin
		                country and whether the consignment is being shipped domestically or
		                internationally and within which international trading block, e.g. 'EU'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transportDisplay" type="renderInstructionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifies the transport type for the consignment shipment, i.e.
		                whether it will be transported by 'AIR', 'ROAD' or a combination, e.g.
		                'ROAD AIR'.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="freeCirculationDisplay" type="renderInstructionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifies whether the consignment is free circulation depending
		                on the trade status of the consignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sortSplitText" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sort split text to appear on the label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="xrayDisplay" type="renderInstructionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifies whether the consignment is required to be
                        scanned.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="originDepot" type="depotType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Details relevant to the origin TNT depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transitDepots" minOccurs="0" maxOccurs="1" type="transitDepotListType">
				<xsd:annotation>
					<xsd:documentation>Details relevant to the transit TNT depots; those depots
                        that handle the carriage of the consignment between the
                        origin depot and the destination depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="destinationDepot" type="destinationDepotType" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Details relevant to the destination TNT depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="microzone" type="renderInstructionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Details relevant to the destination microzone.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="clusterCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cluster code for delivery, being either depot
                        satellite code or delivery postcode.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="legalComments" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Any legal comments required to appear on the label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="cashAmount" type="renderInstructionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The cost of the consignment.  This will only appear on some labels
                        and only then if it is cash on delivery</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
			<xsd:element name="specialInstructions" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Any special instructions required to appear on the label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            <xsd:element name="bulkShipment" type="renderInstructionsType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>This is a flag to show if this is a bulk shipment or not</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:attributeGroup name="renderInstructionsAttributesType">
		<xsd:annotation>
			<xsd:documentation>These are attributes used to determine how and what
                is displayed for certain fields on the routing Label.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="code" use="required" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>This is the attribute from which the display string
	                is derived. This is stored so the returned display
	                field can be overridden by the client system deriving
	                an alternate display string from this code.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="renderInstructions" use="required">
			<xsd:annotation>
				<xsd:documentation>This is the instruction to indicate if, and how,
                    the field will be displayed.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="yes"/>
					<xsd:enumeration value="no"/>
					<xsd:enumeration value="highlighted"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:complexType name="renderInstructionsType">
		<xsd:annotation>
			<xsd:documentation>These are attributes used to determine how and what is
				displayed for certain fields on the routing Label. This
				type contains the display string for the attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attributeGroup ref="renderInstructionsAttributesType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

    <xsd:complexType name="numericRenderInstructionsType">
        <xsd:annotation>
            <xsd:documentation>These are attributes used to determine how and what is
                displayed for certain fields on the routing Label. This
                type contains the display string for the attribute.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:double">
                <xsd:attributeGroup ref="renderInstructionsAttributesType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

	<xsd:complexType name="transitDepotListType">
		<xsd:annotation>
			<xsd:documentation>The list of TNT depots that will be handling the consignment between
                the origin and destination depots.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="1" maxOccurs="unbounded">
			<xsd:annotation>
				<xsd:documentation>The list of TNT depots that will be handling the consignment between
                   the origin and destination depots.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="transitDepot" type="depotType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The list of standard TNT depots that will be handling the consignment
                       between the origin and destination depots.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="actionDepot" type="actionDepotType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>An action depot that will be handling the consignment between
                       the origin and destination depots.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sortDepot" type="sortDepotType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A sort depot that will be handling the consignment between
                       the origin and destination depots.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	    </xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="actionDepotType">
		<xsd:annotation>
			<xsd:documentation>Details relevant to an action transit TNT depot.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="depotCode" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The three character TNT code for the depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="actionDayOfWeek" type="xsd:int" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The day of the week (denoted as a number 1 - 7, 1 signifying
                        Monday, etc.) that the depot is expected to handle the consignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="actionDate" type="xsd:date" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date that the depot is expected to handle the consignment.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="sortDepotType">
		<xsd:sequence>
			<xsd:element name="depotCode" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The three character TNT code for the depot.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sortCellIndicator" type="renderInstructionsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sort cell indicator to appear on label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sortLocationCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sort location code to appear on label.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="barcodeType">
		<xsd:annotation>
			<xsd:documentation>This contains the information relating to the barcode to be printed on the
                label.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This contains the data to be printed as a barcode on the label.</xsd:documentation>
				</xsd:annotation>
				<xsd:attribute name="symbology" use="required">
					<xsd:annotation>
						<xsd:documentation>This denotes the symbology to be used to render the barcode,
			                e.g. '128C' French domestic labels use '2of5Int' and '128B' for the customer reference barcode.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="128B"/>
							<xsd:enumeration value="128C"/>
							<xsd:enumeration value="2of5Int"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

    <xsd:complexType name="twoDBarcodeType">
        <xsd:annotation>
            <xsd:documentation>This contains the information relating to the 2D barcode to be printed on the
                label.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>This contains the data to be printed as a barcode on the label.</xsd:documentation>
                </xsd:annotation>
                <xsd:attribute name="symbology" use="required">
                    <xsd:annotation>
                        <xsd:documentation>This denotes the symbology to be used to render the barcode,
                            e.g. 'pdf417'.</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="pdf417"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

	<xsd:complexType name="productDescriptionType">
		<xsd:annotation>
			<xsd:documentation>This contains the information relating to the product to be printed on the
                label.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This contains the description of the product to be printed on the
                label.</xsd:documentation>
				</xsd:annotation>
				<xsd:attribute name="id" use="required" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>This denotes the product id</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="optionDescriptionType">
		<xsd:annotation>
			<xsd:documentation>This contains the information relating to the options to be printed on the
                label.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:annotation>
					<xsd:documentation>This contains the description of the option to be printed on the
                label.</xsd:documentation>
				</xsd:annotation>
				<xsd:attribute name="id" use="required" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>This denotes the option id</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
