modules/connectors/tnt/schemas/rating_request.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:include schemaLocation="rating_common_definitions.xsd" />
    <xs:element name="priceRequest">
        <xs:annotation>
            <xs:documentation>PriceRequest input XSD. Version 3.0</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="appId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>This is the application ID and should be set to ‘PC’. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="appVersion" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>This denotes the version of ExpressConnect Pricing that
                            will be used. If a value of 3.0 is supplied then the new interface
                            functionality will be evoked If no appVersion is supplied it will be
                            assume that the existing interface is used. Only 3.0 will be considered
                            valid, if any other value is supplied then an error will be returned.. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:sequence>
                    <xs:element ref="priceCheck" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="priceCheck">
        <xs:annotation>
            <xs:documentation>The priceCheck container element represents a single request for a
                price request. Multiple price requests, each one in a priceCheck element may be
                submitted. The information within this element will be used to validate the
                addresses, determine the services, and produce the estimate costs for the shipment. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rateId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>It is recommended that the value is unique within the
                            priceRequest to allow easy identification of results to requests.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="sender" type="address">
                    <xs:annotation>
                        <xs:documentation>This element provides the origin address details and must
                            be supplied for each Price request message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="delivery" type="address">
                    <xs:annotation>
                        <xs:documentation>This container element provides the destination address
                            details and must be supplied for each Price request message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="collectionDateTime" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>The format of a date time is yyyy-mmddThh:MM:ss</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="product" minOccurs="0" type="product">
                    <xs:annotation>
                        <xs:documentation>This is a container element for Information relating to
                            the TNT product chosen for this priceCheck.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="account" type="account" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This is an optional element but must be supplied to obtain
                            accurate price estimates. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="insurance" type="insurance" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This container element holds the insurance details needed
                            to retrieve an insurance quote as part of the price response. If an
                            insurance option such as IN is specified than these elements become
                            mandatory. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="termsOfPayment" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Whether the sender or receiver to paying for the shipment.
                            Values are "S" for a sender or "R" for receiver. Optional element, which
                            default to S if not supplied. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="currency" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The ISO 4217 Alpha-3 currency codes for the currency of
                            the price request. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="priceBreakDown" default="false" type="xs:boolean" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>This is an optional element that determines if a full
                            price breakdown is returned or just the high level rate. The default
                            value is false. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="consignmentDetails" type="consignmentDetails" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Container element to hold the summary consignment details
                            for the pricing request. This element is optional as long as the
                            pieceLine are specified instead </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="pieceLine" type="pieceLine">
                        <xs:annotation>
                            <xs:documentation>The pieceLine container element is used to describe
                                the individual piece lines which make up the consignment in greater
                                detail. It is an optional element and can occur multiple times. The
                                details specified for the pieceLine must be compatible with those
                                specified in the consignmentDetails. If no pieceLine are specified
                                then a default one will be created. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="address">
        <xs:all>
            <xs:element name="country" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>The ISO 3166-1 Alpha-2 country code for the country of the
                        given address. This is a mandatory element. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="town" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The town name as recognised by TNT.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postcode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Postcode or zip code</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="account">
        <xs:all>
            <xs:element name="accountNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>TNT account number, which is the 9 or 10 digit number assigned
                        by the TNT sales person. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accountCountry" type="xs:string">
                <xs:annotation>
                    <xs:documentation>ISO 3166-1 Alpha-2 country code for the country in which the
                        TNT account is registered. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="insurance">
        <xs:all>
            <xs:element name="insuranceValue" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The value of the insurance required to cover the goodsValue
                        specified in the request. This is limited to a maximum of 110% of the
                        goodsValue </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="goodsValue" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The value of the goods in the currency specified in the
                        request </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="consignmentDetails">
        <xs:all>
            <xs:element name="totalWeight" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The total weight of the shipment, Mandatory element, must be
                        supplied in Kilograms. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="totalVolume" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The total volume of the shipment, Mandatory element if non
                        document, must be supplied in cubic metres. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="totalNumberOfPieces" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>The total number of pieces this priceCheck contains. In cases
                        where only some of the pieces are being submitted, this value should contain
                        the total number of pieces in the consignment, not the total number of
                        pieces in the request. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="pieceLine">
        <xs:all>
            <xs:element name="numberOfPieces" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Number of pieces within this piece line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pieceMeasurements" type="pieceMeasurements">
                <xs:annotation>
                    <xs:documentation>Container Element to hold the individual pieceLine
                        measurements.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pallet" default="false" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Whether the packages have been placed onto a pallet. The
                        default value is false </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="pieceMeasurements">
        <xs:all>
            <xs:element name="length" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The length in metres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="width" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The width in metres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="height" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The height in metres.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weight" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>The weight of an individual piece in Kilograms</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>
