modules/connectors/tnt/schemas/tracking_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:element name="TrackResponse">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="Consignment" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A response to a request for summary details will only
                                contain mandatory child elements of Consignment</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ConsignmentNumber" type="xs:string" minOccurs="0" />
                                <xs:element name="AlternativeConsignmentNumber" type="xs:string"
                                    minOccurs="0" />
                                <xs:element name="OriginDepot" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>The Depot Code where the consignment
                                            originated</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="OriginDepotName" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>The name of the Depot where the
                                            consignment originated</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="CustomerReference" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>The customer supplied reference assigned
                                            to this consignment</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="CollectionDate" type="DateType" minOccurs="0" />
                                <xs:element name="DeliveryTown" type="xs:string" minOccurs="0" />
                                <xs:element name="DeliveryDate" type="DateType" minOccurs="0" />
                                <xs:element name="DeliveryTime" type="TimeType" minOccurs="0" />
                                <xs:element name="Signatory" type="xs:string" minOccurs="0" />
                                <xs:element name="SummaryCode">
                                    <xs:annotation>
                                        <xs:documentation>Has an enumerated value set, EXC
                                            represents Exception, INT respresents In Transit, DEL
                                            represents Delivered and CNF represents Consignment Not
                                            Found</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="EXC" />
                                            <xs:enumeration value="INT" />
                                            <xs:enumeration value="DEL" />
                                            <xs:enumeration value="CNF" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="DestinationCountry" type="CountryStructure"
                                    minOccurs="0" />
                                <xs:element name="OriginCountry" type="CountryStructure"
                                    minOccurs="0" />
                                <xs:element name="TermsOfPaymentAccount" type="AccountStructure"
                                    minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>The account against which shipment of the
                                            Consignment will be charged</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="SenderAccount" type="AccountStructure"
                                    minOccurs="0" />
                                <xs:element name="PieceQuantity" minOccurs="0" />
                                <xs:element name="StatusData" type="StatusStructure" minOccurs="0"
                                    maxOccurs="unbounded" />
                                <xs:element name="PackageSummary" type="PackageSummaryStructure"
                                    minOccurs="0" />
                                <xs:element name="ShipmentSummary" type="ShipmentSummaryStructure"
                                    minOccurs="0" />
                                <xs:element name="Addresses" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Address" type="AddressStructure"
                                                maxOccurs="4" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="POD" type="xs:string" minOccurs="0" maxOccurs="1" />
                            </xs:sequence>
                            <xs:attribute name="access" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="public" />
                                        <xs:enumeration value="full" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="ContinuationKey" type="xs:string" maxOccurs="1" minOccurs="0" />
                </xs:sequence>

                <xs:element name="Error" type="ErrorStructure" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AccountStructure">
        <xs:sequence>
            <xs:element name="Number">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Za-z0-9]+" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="CountryCode" type="CountryCodeType" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateType">
        <xs:simpleContent>
            <xs:extension base="NonZeroLengthString">
                <xs:attribute name="format" type="xs:string" use="optional" default="YYYYMMDD" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TimeType">
        <xs:simpleContent>
            <xs:extension base="NonZeroLengthString">
                <xs:attribute name="format" type="xs:string" use="optional" default="HHMM" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="NonZeroLengthString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusStructure">
        <xs:sequence>
            <xs:element name="StatusCode" type="xs:string" />
            <xs:element name="StatusDescription" type="xs:string" />
            <xs:element name="LocalEventDate" type="DateType" minOccurs="0" />
            <xs:element name="LocalEventTime" type="TimeType" minOccurs="0" />
            <xs:element name="Depot" type="xs:string" minOccurs="0" />
            <xs:element name="DepotName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PackageSummaryStructure">
        <xs:sequence>
            <xs:element name="NumberOfPieces" type="xs:integer" />
            <xs:element name="Weight">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:float">
                            <xs:attribute name="units" use="optional" default="kgs">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="kgs" />
                                        <xs:enumeration value="lbs" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="PackageDescription" type="xs:string" />
            <xs:element name="GoodsDescription" type="xs:string" />
            <xs:element name="InvoiceAmount" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:float">
                            <xs:attribute name="currency" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShipmentSummaryStructure">
        <xs:sequence>
            <xs:element name="TermsOfPayment">
                <xs:annotation>
                    <xs:documentation>Enumerated values of Sender and Receiver</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Sender" />
                        <xs:enumeration value="Receiver" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="DueDate" type="DateType" />
            <xs:element name="Service" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The English description of the Service, e.g. Global Express</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressStructure">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:sequence maxOccurs="3">
                <xs:element name="AddressLine" type="xs:string" />
            </xs:sequence>
            <xs:element name="City" type="xs:string" />
            <xs:element name="Province" type="xs:string" minOccurs="0" />
            <xs:element name="Postcode" type="xs:string" minOccurs="0" />
            <xs:element name="Country" type="CountryStructure" />
            <xs:element name="PhoneNumber" type="xs:string" minOccurs="0" />
            <xs:element name="ContactName" type="xs:string" minOccurs="0" />
            <xs:element name="ContactPhoneNumber" type="xs:string" minOccurs="0" />
            <xs:element name="AccountNumber" minOccurs="0" />
            <xs:element name="VATNumber" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="addressParty" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Sender" />
                    <xs:enumeration value="Receiver" />
                    <xs:enumeration value="Collection" />
                    <xs:enumeration value="Delivery" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="CountryCodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z][A-Z0-9]?" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountryStructure">
        <xs:sequence>
            <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0" />
            <xs:element name="CountryName" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorStructure">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Code" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>An integer signifying failure to fulfill the request</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Message" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An optional message specifying the reason for failure of
                        request processing</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
