aramex/schemas/tracking.xsd

<xsd:schema targetNamespace="http://ws.aramex.net/ShippingAPI/v1/" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="ShipmentTrackingRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element type="tns:ClientInfo" name="ClientInfo" nillable="true" minOccurs="0"/>
                <xsd:element type="tns:Transaction" name="Transaction" nillable="true" minOccurs="0"/>
                <xsd:element type="q1:ArrayOfstring" name="Shipments" nillable="true" minOccurs="0"
                    xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
                <xsd:element type="xsd:boolean" name="GetLastTrackingUpdateOnly" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ClientInfo">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="UserName" nillable="true"/>
            <xsd:element type="xsd:string" name="Password" nillable="true"/>
            <xsd:element type="xsd:string" name="Version" nillable="true"/>
            <xsd:element type="xsd:string" name="AccountNumber" nillable="true"/>
            <xsd:element type="xsd:string" name="AccountPin" nillable="true"/>
            <xsd:element type="xsd:string" name="AccountEntity" nillable="true"/>
            <xsd:element type="xsd:string" name="AccountCountryCode" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:ClientInfo" name="ClientInfo" nillable="true"/>
    <xsd:complexType name="Transaction">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="Reference1" nillable="true"/>
            <xsd:element type="xsd:string" name="Reference2" nillable="true"/>
            <xsd:element type="xsd:string" name="Reference3" nillable="true"/>
            <xsd:element type="xsd:string" name="Reference4" nillable="true"/>
            <xsd:element type="xsd:string" name="Reference5" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:Transaction" name="Transaction" nillable="true"/>
    <xsd:element name="ShipmentTrackingResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element type="tns:Transaction" name="Transaction" nillable="true" minOccurs="0"/>
                <xsd:element type="tns:ArrayOfNotification" name="Notifications" nillable="true" minOccurs="0"/>
                <xsd:element type="xsd:boolean" name="HasErrors" minOccurs="0"/>
                <xsd:element type="q2:ArrayOfKeyValueOfstringArrayOfTrackingResultmFAkxlpY" name="TrackingResults" nillable="true" minOccurs="0"
                    xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ArrayOfNotification">
        <xsd:sequence>
            <xsd:element type="tns:Notification" name="Notification" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:ArrayOfNotification" name="ArrayOfNotification" nillable="true"/>
    <xsd:complexType name="Notification">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="Code" nillable="true"/>
            <xsd:element type="xsd:string" name="Message" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:Notification" name="Notification" nillable="true"/>
    <xsd:complexType name="ArrayOfTrackingResult">
        <xsd:sequence>
            <xsd:element type="tns:TrackingResult" name="TrackingResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:ArrayOfTrackingResult" name="ArrayOfTrackingResult" nillable="true"/>
    <xsd:complexType name="TrackingResult">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="WaybillNumber" nillable="true"/>
            <xsd:element type="xsd:string" name="UpdateCode" nillable="true"/>
            <xsd:element type="xsd:string" name="UpdateDescription" nillable="true"/>
            <xsd:element type="xsd:dateTime" name="UpdateDateTime"/>
            <xsd:element type="xsd:string" name="UpdateLocation" nillable="true"/>
            <xsd:element type="xsd:string" name="Comments" nillable="true"/>
            <xsd:element type="xsd:string" name="ProblemCode" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element type="tns:TrackingResult" name="TrackingResult" nillable="true"/>
</xsd:schema>