modules/connectors/usps_wt/schemas/Error.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="Error">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Number" />
                <xs:element type="xs:string" name="Source" />
                <xs:element type="xs:string" name="Description" />
                <xs:element type="xs:string" name="HelpFile" />
                <xs:element type="xs:string" name="HelpContext" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>