modules/connectors/usps_wt/schemas/FirstClassMailRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FirstClassMailRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:int" name="OriginZip"/>
                <xs:element type="xs:short" name="DestinationZip"/>
                <xs:element type="xs:byte" name="DestinationType"/>
                <xs:element type="xs:string" name="PMGuarantee"/>
                <xs:element type="xs:byte" name="ClientType"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID" use="required"/>
            <xs:attribute type="xs:string" name="PASSWORD" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>