modules/connectors/usps_wt/schemas/PTSTPodRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PTSTPodRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="TrackId"/>
                <xs:element type="xs:string" name="ClientIp"/>
                <xs:element type="xs:short" name="MpSuffix"/>
                <xs:element type="xs:string" name="MpDate"/>
                <xs:element type="xs:string" name="RequestType"/>
                <xs:element type="xs:string" name="FirstName"/>
                <xs:element type="xs:string" name="LastName"/>
                <xs:element type="xs:string" name="Email1"/>
                <xs:element type="xs:string" name="Email2"/>
                <xs:element type="xs:string" name="Email3"/>
                <xs:element type="xs:string" name="TableCode"/>
                <xs:element type="xs:int" name="CustRegID"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="USERID" use="required"/>
            <xs:attribute type="xs:string" name="PASSWORD" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>